In [2]:
import pandas as pd

In [3]:
import numpy as np

In [41]:
#ustawiam zeby wyswietlal kolumny
pd.set_option('display.max_columns',None)
#zeby wyswietlic 10 kolumn
pd.set_option('display.max_columns',10)
#zeby wyswietlic wszystkie wiersze
#pd.set_option('display.max_raws',None)
#wyswietlic cale rekordy a nie skrocone napisy w komorkach
#pd.set_option('display.max_colwidth',None)

pandas

In [4]:
movie_path = "https://raw.githubusercontent.com/PacktPublishing/Pandas-Cookbook/master/data/movie.csv"
#wczytanie pliku do nowej zmiennej obietk dataframe
movie = pd.read_csv(movie_path)

movie.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [5]:
type(movie)

pandas.core.frame.DataFrame

In [40]:
movie.tail()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,movie_title,num_voted_users,cast_total_facebook_likes,actor_3_name,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,Eric Mabius,Signed Sealed Delivered,629,2283,Crystal Lowe,2.0,fraud|postal worker|prison|theft|trial,http://www.imdb.com/title/tt3000844/?ref_=fn_t...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,Natalie Zea,The Following,73839,1753,Sam Underwood,1.0,cult|fbi|hideout|prison escape|serial killer,http://www.imdb.com/title/tt2071645/?ref_=fn_t...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,Eva Boehnke,A Plague So Pleasant,38,0,David Chandler,0.0,NaN,http://www.imdb.com/title/tt2107644/?ref_=fn_t...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,Alan Ruck,Shanghai Calling,1255,2386,Eliza Coupe,5.0,NaN,http://www.imdb.com/title/tt2070597/?ref_=fn_t...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,John August,My Date with Drew,4285,163,Jon Gunn,0.0,actress name in title|crush|date|four word tit...,http://www.imdb.com/title/tt0378407/?ref_=fn_t...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [6]:
#ramka danych (indeks, kolumna, dana) dostajemy tabele z nazwami kolumn gdzie pod spodem jest macierz z danymi

In [7]:
#movie.head() wyswietla 5 pierwszych rekordow\
movie.tail()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

#dataframe

In [10]:
columns = movie.columns
index = movie.index
data = movie.values

In [11]:
type(columns)

pandas.core.indexes.base.Index

In [12]:
columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [13]:
index

RangeIndex(start=0, stop=4916, step=1)

In [14]:
type(index)

pandas.core.indexes.range.RangeIndex

In [15]:
data

array([['Color', 'James Cameron', 723.0, ..., 7.9, 1.78, 33000],
       ['Color', 'Gore Verbinski', 302.0, ..., 7.1, 2.35, 0],
       ['Color', 'Sam Mendes', 602.0, ..., 6.8, 2.35, 85000],
       ...,
       ['Color', 'Benjamin Roberds', 13.0, ..., 6.3, nan, 16],
       ['Color', 'Daniel Hsia', 14.0, ..., 6.3, 2.35, 660],
       ['Color', 'Jon Gunn', 43.0, ..., 6.6, 1.85, 456]], dtype=object)

In [16]:
type(data)

numpy.ndarray

In [17]:
#tworzenie ramek danych (kolumny, indeksy, wartosci)

In [18]:
X = np.random.randn(10,10)
X

array([[-1.75502263,  1.91654184,  0.50638184, -2.01090077, -0.99513882,
         0.02775477,  0.86774329,  0.93639436, -0.46159705, -1.62648861],
       [-0.14112436, -1.99058224, -1.20857962,  1.28790061, -0.94859494,
         0.39928189,  2.08190995, -1.94172158, -0.08998062,  1.28337423],
       [-0.65166654, -2.20994334,  2.53081833, -1.29085881, -1.08150006,
        -1.05808742, -0.70563842,  0.67664438,  1.64301808, -1.40068971],
       [ 0.49591117,  0.28973765,  1.46192522, -0.38845902,  0.34623752,
        -0.13171747, -0.77530709, -0.0828133 , -0.56802194,  0.53590754],
       [ 0.39795678,  0.67169033,  2.71296021, -0.28269131, -0.30600405,
        -1.3363932 , -1.40233093,  0.24670244,  0.54023251,  0.37656434],
       [ 1.04120946,  0.85384196,  1.3709421 ,  1.5281976 ,  0.5696008 ,
         0.32763034,  0.47160888, -0.33526442,  0.39494349,  0.95559898],
       [ 0.19886764, -2.31259626, -0.73613096,  0.71260302, -0.87972257,
         0.4410054 , -0.65971255,  0.29091471, -0.16786757, -0.93273633],
       [-0.13493518,  0.23396219,  0.7756174 , -0.12340367, -0.69654944,
         0.3035832 , -1.01895649,  0.51504501,  2.53363373,  0.92950112],
       [-0.25436658,  0.17009519, -0.6958568 ,  1.03463914,  0.5003824 ,
        -0.73272604,  1.67088175, -0.89746131,  0.76569641,  1.3934928 ],
       [ 0.24945187, -0.17041553, -0.87995292, -0.77419329, -1.08731436,
         0.69117827, -1.02259875, -0.99021137,  1.25607704, -1.3167231 ]])

In [19]:
pd.DataFrame(X)

,0,1,2,3,4,5,6,7,8,9
0,-1.755023,1.916542,0.506382,-2.010901,-0.995139,0.027755,0.867743,0.936394,-0.461597,-1.626489
1,-0.141124,-1.990582,-1.208580,1.287901,-0.948595,0.399282,2.081910,-1.941722,-0.089981,1.283374
2,-0.651667,-2.209943,2.530818,-1.290859,-1.081500,-1.058087,-0.705638,0.676644,1.643018,-1.400690
3,0.495911,0.289738,1.461925,-0.388459,0.346238,-0.131717,-0.775307,-0.082813,-0.568022,0.535908
4,0.397957,0.671690,2.712960,-0.282691,-0.306004,-1.336393,-1.402331,0.246702,0.540233,0.376564
5,1.041209,0.853842,1.370942,1.528198,0.569601,0.327630,0.471609,-0.335264,0.394943,0.955599
6,0.198868,-2.312596,-0.736131,0.712603,-0.879723,0.441005,-0.659713,0.290915,-0.167868,-0.932736
7,-0.134935,0.233962,0.775617,-0.123404,-0.696549,0.303583,-1.018956,0.515045,2.533634,0.929501
8,-0.254367,0.170095,-0.695857,1.034639,0.500382,-0.732726,1.670882,-0.897461,0.765696,1.393493
9,0.249452,-0.170416,-0.879953,-0.774193,-1.087314,0.691178,-1.022599,-0.990211,1.256077,-1.316723

In [20]:
X3 = np.random.randn(3,3)
df = pd.DataFrame(X3, columns=['col_1','col2','col3'],index = ['i1','i2','i3'])

In [21]:
df

       col_1      col2      col3
i1 -1.206734  0.046872 -0.244904
i2  1.390812  0.247154 -2.043117
i3  2.526003  0.159800  0.204261

In [22]:
#tworzenie df ze slownika

In [23]:
df_1 = pd.DataFrame({'col_4': [1,2,3],
                     'col_5':[3,4,5]
                    })
df_1

   col_4  col_5
0      1      3
1      2      4
2      3      5

#rzutuje dane na najwiekszy typ 1 string reszta intow bedzie rzutowal na stringi w numpy

#kazda pozycja wektora jednak moze byc innym typem danych w pandasie tym samym optymalizuje pamiec

In [27]:
movie.dtypes

color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

##series

In [28]:
movie.head(2)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0

In [30]:
#jak sie dobrac do konkretnych kolumn\
director = movie['director_name']
director.head()

0        James Cameron
1       Gore Verbinski
2           Sam Mendes
3    Christopher Nolan
4          Doug Walker
Name: director_name, dtype: object

In [31]:
type(director)
#seria - jednowymiarowy obiekt

pandas.core.series.Series

In [34]:
director.name

'director_name'

In [35]:
#w serii jest funkcja value counts\ = group by policzy ile dana wartosc wystepuje w serii
director.value_counts()

Steven Spielberg    26
Woody Allen         22
Martin Scorsese     20
Clint Eastwood      20
Ridley Scott        16
                    ..
John Putch           1
Luca Guadagnino      1
Sam Fell             1
Dan Fogelman         1
Daniel Hsia          1
Name: director_name, Length: 2397, dtype: int64

In [37]:
director.shape

(4916,)

In [38]:
movie.shape

(4916, 28)

#chcemy zobaczyc wszystkie kolumny z data frame
#ustawienie indexu

In [44]:
#chcemy zapisac dane lokalnie na kompie
#potrzebujemy folder
mkdir data1

SyntaxError: invalid syntax (1000606589.py, line 3)

In [51]:
movie.to_csv('data/movie.csv', index = False)

In [52]:
movie2 = pd.read_csv('data/movie.csv',)
movie2
movie2.shape

(4916, 28)

In [53]:
movie.to_pickle('data/movie.pkl')

In [54]:
#pikle#nie wiem co to jest ale jest polecane
movie3 = pd.read_pickle('data/movie.pkl')
movie3
#pikle nie maja indeksu jako kolumny

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,...,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,...,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,...,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,...,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,...,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,...,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,1.0,87.0,2.0,...,2013.0,470.0,7.7,NaN,84
4912,Color,NaN,43.0,43.0,NaN,...,NaN,593.0,7.5,16.00,32000
4913,Color,Benjamin Roberds,13.0,76.0,0.0,...,2013.0,0.0,6.3,NaN,16
4914,Color,Daniel Hsia,14.0,100.0,0.0,...,2012.0,719.0,6.3,2.35,660
4915,Color,Jon Gunn,43.0,90.0,16.0,...,2004.0,23.0,6.6,1.85,456

#indeksy

In [55]:
#chcemy ustawic inny indeks\
#albo to robimy na poziomie wczytywania danych
movie = pd.read_csv('data/movie.csv',index_col = 'movie_title')

In [56]:
movie.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'num_voted_users', 'cast_total_facebook_likes', 'actor_3_name',
       'facenumber_in_poster', 'plot_keywords', 'movie_imdb_link',
       'num_user_for_reviews', 'language', 'country', 'content_rating',
       'budget', 'title_year', 'actor_2_facebook_likes', 'imdb_score',
       'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [58]:
#zmiana indexu
#reset indexu
movie = movie.reset_index()
#stary indeks stal sie kolumna

In [60]:
movie.set_index('director_name')
#uwaga teraz index sie powtarza np. steven spielberg

,movie_title,color,num_critic_for_reviews,duration,director_facebook_likes,...,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
director_name,,,,,,,,,,,
James Cameron,Avatar,Color,723.0,178.0,0.0,...,2009.0,936.0,7.9,1.78,33000
Gore Verbinski,Pirates of the Caribbean: At World's End,Color,302.0,169.0,563.0,...,2007.0,5000.0,7.1,2.35,0
Sam Mendes,Spectre,Color,602.0,148.0,0.0,...,2015.0,393.0,6.8,2.35,85000
Christopher Nolan,The Dark Knight Rises,Color,813.0,164.0,22000.0,...,2012.0,23000.0,8.5,2.35,164000
Doug Walker,Star Wars: Episode VII - The Force Awakens,NaN,NaN,NaN,131.0,...,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...
Scott Smith,Signed Sealed Delivered,Color,1.0,87.0,2.0,...,2013.0,470.0,7.7,NaN,84
NaN,The Following,Color,43.0,43.0,NaN,...,NaN,593.0,7.5,16.00,32000
Benjamin Roberds,A Plague So Pleasant,Color,13.0,76.0,0.0,...,2013.0,0.0,6.3,NaN,16
Daniel Hsia,Shanghai Calling,Color,14.0,100.0,0.0,...,2012.0,719.0,6.3,2.35,660
Jon Gunn,My Date with Drew,Color,43.0,90.0,16.0,...,2004.0,23.0,6.6,1.85,456

In [63]:
#sortowanie df  wtedy indeks nie jest w poprzedniej kolejnosci
movie = movie.sort_values('duration')
movie.reset_index() #stary indeks staje sie kolumna
movie.reset_index(drop=True) #nie ustawia starego indeksu jako nowa kolumne

,movie_title,color,director_name,num_critic_for_reviews,duration,...,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,The Touch,Color,Jane Clark,NaN,7.0,...,2007.0,281.0,5.2,1.85,30
1,Shaun the Sheep,Color,NaN,12.0,7.0,...,NaN,7.0,8.3,NaN,834
2,Robot Chicken,Color,NaN,38.0,11.0,...,NaN,0.0,7.8,1.33,1000
3,Vessel,Color,Clark Baker,1.0,14.0,...,2012.0,93.0,6.2,NaN,14
4,Wal-Mart: The High Cost of Low Price,Color,Robert Greenwald,56.0,20.0,...,2005.0,0.0,6.8,1.85,0
...,...,...,...,...,...,...,...,...,...,...,...
4911,Wolf Creek,Color,NaN,2.0,NaN,...,NaN,457.0,7.1,2.00,954
4912,Karachi se Lahore,Color,Wajahat Rauf,6.0,NaN,...,2015.0,5.0,7.0,NaN,259
4913,Destiny,Color,Joseph Kosinski,4.0,NaN,...,2014.0,4000.0,8.1,NaN,1000
4914,Romantic Schemer,Color,Valentine,NaN,NaN,...,2015.0,0.0,5.1,NaN,0
4915,The Naked Ape,Color,Daniel Mellitz,NaN,NaN,...,2006.0,36.0,4.7,NaN,2

In [65]:
#sortowanie po dwoch kolumanch
movie.sort_values(['director_name','duration'],ascending = False)

,movie_title,color,director_name,num_critic_for_reviews,duration,...,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
4731,Bizarre,Color,Étienne Faure,9.0,98.0,...,2015.0,0.0,4.3,1.78,114
4103,Sur le seuil,Color,Éric Tessier,9.0,99.0,...,2003.0,16.0,6.6,1.85,39
3609,Mambo Italiano,Color,Émile Gaudreault,67.0,92.0,...,2003.0,210.0,6.7,1.85,352
3185,The Oxford Murders,Color,Álex de la Iglesia,71.0,104.0,...,2008.0,161.0,6.1,2.35,0
4769,Along the Roadside,Color,Zoran Lisinac,17.0,108.0,...,2013.0,297.0,7.1,1.85,231
...,...,...,...,...,...,...,...,...,...,...,...
4190,Strangers with Candy,Color,NaN,8.0,22.0,...,NaN,396.0,8.1,4.00,558
3997,Robot Chicken,Color,NaN,38.0,11.0,...,NaN,0.0,7.8,1.33,1000
1930,Shaun the Sheep,Color,NaN,12.0,7.0,...,NaN,7.0,8.3,NaN,834
3536,War & Peace,Color,NaN,10.0,NaN,...,NaN,888.0,8.2,16.00,11000
4416,Wolf Creek,Color,NaN,2.0,NaN,...,NaN,457.0,7.1,2.00,954

In [69]:
#powracanie do poprzedniej wersji czyli posortowac po indeksie\
movie.sort_index(ascending = False)
#sortowanie po kolumnach bo wybralam nowe axis =1
movie.sort_index(ascending = False, axis = 1)

,title_year,plot_keywords,num_voted_users,num_user_for_reviews,num_critic_for_reviews,...,actor_3_facebook_likes,actor_2_name,actor_2_facebook_likes,actor_1_name,actor_1_facebook_likes
2316,2007.0,lesbian|paris france|period piece|poem|poetess,118,NaN,NaN,...,51.0,Traci Dinwiddie,281.0,Necar Zadegan,344.0
1930,NaN,farmer|mischief|no dialog|sheep|sheepdog,7968,12.0,12.0,...,3.0,John Sparkes,7.0,Justin Fletcher,45.0
3997,NaN,celebrity|robot|satire|sketch comedy|stop moti...,32923,75.0,38.0,...,0.0,Seth Green,0.0,Matthew Senreich,11.0
4564,2012.0,alien|flight attendant|monster|pilot|tentacle,292,3.0,1.0,...,37.0,Alan Pietruszewski,93.0,Taylor Pigeon,134.0
4342,2005.0,greed|pollution|slave labor|truth|wal mart,4120,70.0,56.0,...,0.0,Jon Hunter,0.0,Lee Scott,0.0
...,...,...,...,...,...,...,...,...,...,...,...
4416,NaN,based on true story|blood|serial killer|slashe...,726,6.0,2.0,...,206.0,John Jarratt,457.0,Richard Cawthorne,511.0
4502,2015.0,pakistan|road trip,876,15.0,6.0,...,4.0,Ayesha Omar,5.0,Rasheed Naz,7.0
4580,2014.0,first person shooter,3089,11.0,4.0,...,567.0,Lauren Cohan,4000.0,Peter Dinklage,22000.0
4825,2015.0,NaN,172,NaN,NaN,...,NaN,Valentine,0.0,Diane Sorrentino,17.0
4863,2006.0,coming of age|male nudity|road trip|skinny dip...,128,3.0,NaN,...,15.0,Chelse Swain,36.0,Corbin Bernsen,1000.0

#zmiana nazw kolumn

In [70]:
movie.head()

,movie_title,color,director_name,num_critic_for_reviews,duration,...,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
2316,The Touch,Color,Jane Clark,NaN,7.0,...,2007.0,281.0,5.2,1.85,30
1930,Shaun the Sheep,Color,NaN,12.0,7.0,...,NaN,7.0,8.3,NaN,834
3997,Robot Chicken,Color,NaN,38.0,11.0,...,NaN,0.0,7.8,1.33,1000
4564,Vessel,Color,Clark Baker,1.0,14.0,...,2012.0,93.0,6.2,NaN,14
4342,Wal-Mart: The High Cost of Low Price,Color,Robert Greenwald,56.0,20.0,...,2005.0,0.0,6.8,1.85,0

In [71]:
#movie title jako index
movie.set_index('movie_title')

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,...,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,
The Touch,Color,Jane Clark,NaN,7.0,23.0,...,2007.0,281.0,5.2,1.85,30
Shaun the Sheep,Color,NaN,12.0,7.0,NaN,...,NaN,7.0,8.3,NaN,834
Robot Chicken,Color,NaN,38.0,11.0,NaN,...,NaN,0.0,7.8,1.33,1000
Vessel,Color,Clark Baker,1.0,14.0,0.0,...,2012.0,93.0,6.2,NaN,14
Wal-Mart: The High Cost of Low Price,Color,Robert Greenwald,56.0,20.0,21.0,...,2005.0,0.0,6.8,1.85,0
...,...,...,...,...,...,...,...,...,...,...,...
Wolf Creek,Color,NaN,2.0,NaN,NaN,...,NaN,457.0,7.1,2.00,954
Karachi se Lahore,Color,Wajahat Rauf,6.0,NaN,3.0,...,2015.0,5.0,7.0,NaN,259
Destiny,Color,Joseph Kosinski,4.0,NaN,364.0,...,2014.0,4000.0,8.1,NaN,1000
Romantic Schemer,Color,Valentine,NaN,NaN,0.0,...,2015.0,0.0,5.1,NaN,0
The Naked Ape,Color,Daniel Mellitz,NaN,NaN,0.0,...,2006.0,36.0,4.7,NaN,2

In [72]:

movie = movie.sort_index()

In [73]:
movie.head()

,movie_title,color,director_name,num_critic_for_reviews,duration,...,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Avatar,Color,James Cameron,723.0,178.0,...,2009.0,936.0,7.9,1.78,33000
1,Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,...,2007.0,5000.0,7.1,2.35,0
2,Spectre,Color,Sam Mendes,602.0,148.0,...,2015.0,393.0,6.8,2.35,85000
3,The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,...,2012.0,23000.0,8.5,2.35,164000
4,Star Wars: Episode VII - The Force Awakens,NaN,Doug Walker,NaN,NaN,...,NaN,12.0,7.1,NaN,0

In [77]:
col_name = {'color': 'COLOR_', 'director_name' : 'REZYSER'}
movie_renamed = movie.rename(columns=col_name)
movie_renamed.head()

,movie_title,COLOR_,REZYSER,num_critic_for_reviews,duration,...,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Avatar,Color,James Cameron,723.0,178.0,...,2009.0,936.0,7.9,1.78,33000
1,Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,...,2007.0,5000.0,7.1,2.35,0
2,Spectre,Color,Sam Mendes,602.0,148.0,...,2015.0,393.0,6.8,2.35,85000
3,The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,...,2012.0,23000.0,8.5,2.35,164000
4,Star Wars: Episode VII - The Force Awakens,NaN,Doug Walker,NaN,NaN,...,NaN,12.0,7.1,NaN,0

In [78]:
idx_name = {'#horror': 'HORROR'}

#funkcja replace

In [83]:
#wyciagam kolumny i zamieniam na liste literowalna i moge ją nadpisywac
movie_columns = movie.columns.tolist()

In [89]:
movie_columns[1]

'color'

In [87]:
movie_columns[2] = 'rezyser'